

footer {
  background: #a71930;
  color: white
}


.custom-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.website-red{
  background: #a71930;

}
.website-red{
  background: #a71930;
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: black 3px 3px 3px;
}

.website-blue{
  background: #232c57;
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: black 3px 3px 3px;
  
}

.slide-p-size {
  background: #a71930;
  padding: 10px;
  
}


.newsletter {
  width: 300px;
  border-radius: 10px;
}

form button {
  border-radius: 10px;
  margin-left: 5px;
}

header {
  background-image: url("./images/headerbg.jpeg");
   height: 300px;
   margin-bottom: 20px;
}

.page-title {
  padding: 20px;
  margin: 70px;
  text-align: center;
  color: white;

}

.justina {
  text-align: justify;
}

.bold {
  font-weight: bolder;
}



.home-about-component {
  background: #232c57;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-about-photo{
  background-image: url("/src/images/about-us.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.nav-link-hover:hover {
  color: #fff; /* Change text color on hover */
  text-decoration: none; /* Remove underline on hover */
  background: rgb(130, 130, 242);
}

/* auth form style */
.auth-container {
  display: flex;
  justify-content: center;
}

.auth-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 400px;
}

.auth-form h2 {
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #232c57;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #0056b3;
}



/* dashboard styling area */
.side-bar {
  font-size: 1rem;
  padding: 1rem;
  border-right: 1px dotted #0056b3;
 
}


ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
  
}

li {
  margin-bottom: 1rem;
}

li a {
  text-decoration: none;
}

li:hover {
  border-bottom: 2px #232c57 solid;
}

.cards {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 5px;
  width: 60%;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.cards:hover {
  box-shadow: 0px 8px 16px #1f2152;
}


/* the balance containers blocks at the top of the dashboard    */
.dashboard-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.dashboard-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.balance-block, .stake-block {
  min-width: 100%; /* Ensure each block takes full width on small screens */
  box-sizing: border-box;
  background: linear-gradient(95deg, #feffff, #cdcffb);
  
}

@media (min-width: 768px) {
  .balance-block, .stake-block {
      min-width: 50%; /* Adjust width for medium screens */
  }
}

@media (min-width: 992px) {
  .balance-block, .stake-block {
      min-width: 25%; /* Adjust width for large screens */
  }
}



.staking-input{
  border-radius: 10px;
  height: 50px;
  border: none;
  background-color: #e8e8e8;
  margin-bottom: 10px;
}

.staking-btn {
  background-color: #232c57;
  color: white;
  margin: 10px;
  border-radius: 10px;
  height: 40px;
  width: 100%;
}

.primary-color {
  color: #232c57;
}

.input-done {
  color: blue; /* Change the color to your desired color */
}


.submit-btn {
  background: #232c57;
   color: white;
   padding: 5px;
   width: 100px;
  }

/* the amount button to automatically fill the amount on the input */

.mr-2 {
  margin: 5px;
  border: none;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.ml-2 {
  margin: 5px;
  border: none;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  height: 40px;
  width: 50px;
}

.profit-estimate{
  border-left: 2px solid rgb(234, 234, 234);
  padding: 5px;
  width: 200px;
  color: #232c57;
}

h3 {
  margin-top: 0;
}

.referal-container{
  padding: 30px;
}

@media (max-width: 768px) {
  .balance-block, .stake-block {
    width: 100%;
  }
}





/*  Imported CSS from other v1 */

/* src/components/LandingPage.css */
body {
  background-color: #f8f9fa;
}

header img {
  width: 150px;
}

footer h5 {
  color: #6c757d;
}

footer a {
  color: #007bff;
}

footer a:hover {
  color: #0056b3;
}




.logo-name {
  font-family: Arial, sans-serif; /* Use a common and clean sans-serif font */
  font-size: 24px; /* Adjust the font size to your preference */
  font-weight: bold; /* Make the text bold for a strong presence */
  color: #1f2152; /* Use your chosen color */
  text-transform: uppercase; /* Optionally, transform the text to uppercase for a bold look */
}



.front-modal {
  margin: auto;
  width: 50%;
}

.btn-primary {
  background: #1f2152;
}

.btn-primary:hover{
  border: 5px green solid;
}

.parent-layout {
  display: flex;
  gap: 10px;
  
  
}



.side-bar {
  color: blue;
  font-size: 1rem;
  padding: 1rem;
  border-right: 2px solid rgb(136, 136, 246);
 
}

ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
  
}

li {
  margin-bottom: 0.5rem;
}

li:hover {
  border-bottom: 2px orange solid;
}

header{
  background-image: url("../src/images/header-background.jpg");
  height: 200px;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}




.staking-btn {

  margin-top: 5px;
}

.staking-input {

  border: solid orange 2px;
  height: 35px;
  border-radius: 10px;
  
  
}

.tx-area {
  border: 1px orange solid;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.border-style {
  border: 2px #1f2152 solid;
  border-radius: 10px;
  margin: 0.5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}


.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 5px;
  width: 60%;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 8px 16px #1f2152;
}


.bottom-icon-container {
  position: absolute;
  bottom: -250px; 
   
}

.bottom-icon {
  font-size: 24px; 
  margin: 10px;
}

.remove-decoration {
  text-decoration: none;
}

li a {
  text-decoration: none;
  color: white;
}




/* Default style for the table (100% width) */
.custom-table {
  width: 100%;
}

/* Media query for larger screens (e.g., screens wider than 768px) */
@media (min-width: 769px) {
  .custom-table {
    width: 50%; /* Set the desired width for larger screens */
  }
}


/* App.css or a new CSS file */
.bg-gradient-blue {
  background: linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(13, 71, 161, 1) 100%);
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  margin: 0 10px;
}

.navbar-text {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
}



.exchages-partner {
  border: 2px solid rgb(162, 162, 246);
  border-radius: 10px;
  width: 300px;
  height: 100px;
}




